---
layout: main
metatitle: Back n Forth
sharetitle: Turn your creative feedback into income
metadescription: Back n Forth empowers creators to turn their creative feedback into income.
metaimg: meta.jpg

herotitleone: Turn your creative
herotitletwo: feedback into income
herodescription: Back n Forth is a platform that enables creators to give feedback on their audience’s work. Let your audience submit their work to you, provide feedback, and get compensated for your time.
heroactiontext: Get Started
heroactionlink: /signup

introvideo: intro-video.mp4
introimg: canvas-graphic.jpg
introimgalt: A Back n Forth engagement submission shown within the annotation canvas creators can use to type and draw their response.
introtitle: The easiest way to get paid for sharing your area of expertise
introdescription: Designed to be as flexible for creators as possible. Back n Forth handles audience submissions, payments, and provides the tools you'll need to give feedback asynchronously. No meetings, no schedule – focus on what you do best and we'll handle the rest.
introbackground: grey-background.jpg
introbackgroundalt: Dark grey and black gradient background.

industriestitle: Used by all kinds of creators
industryone: Photography
industrytwo: Illustration
industrythree: Design
industryfour: UI/UX
industryfive: Art
industrysix: 3D
industryseven: Other
industryonegraphic: industry-photography.png
industryonegraphicalt: A Back n Forth app screenshot collage showing what what a photography engagement and submission could look like.
industryoneitemone: Composition and framing
industryoneitemtwo: Lighting
industryoneitemthree: Color grading
industryoneitemfour: Narrative and emotion
industryoneitemfive: Post-processing techniques
industryoneitemsix: Utilizing camera settings
industryoneitemseven: And so much more
industrytwographic: industry-illustration.png
industrytwographicalt: A Back n Forth app screenshot collage showing what what an illustration engagement and submission could look like.
industrytwoitemone: Illustrative style and medium
industrytwoitemtwo: Composition and framing
industrytwoitemthree: Perspective and scale
industrytwoitemfour: Capturing light and shadow
industrytwoitemfive: Blending and shading
industrytwoitemsix: Narrative and emotion
industrytwoitemseven: And so much more
industrythreegraphic: industry-design.png
industrythreegraphicalt: A Back n Forth app screenshot collage showing what what a design engagement and submission could look like.
industrythreeitemone: Brand identity
industrythreeitemtwo: Typography
industrythreeitemthree: Print and publication
industrythreeitemfour: Marketing assets
industrythreeitemfive: Physical packaging
industrythreeitemsix: Graphics and iconography
industrythreeitemseven: And so much more
industryfourgraphic: industry-uiux.png
industryfourgraphicalt: A Back n Forth app screenshot collage showing what what a ui/ux engagement and submission could look like.
industryfouritemone: Landing pages
industryfouritemtwo: Wireframes
industryfouritemthree: Accessibility
industryfouritemfour: Conversion optimization
industryfouritemfive: User journey and flows
industryfouritemsix: Research and personas
industryfouritemseven: And so much more
industryfivegraphic: industry-art.png
industryfivegraphicalt: A Back n Forth app screenshot collage showing what what an art engagement and submission could look like.
industryfiveitemone: Artistic style and medium
industryfiveitemtwo: Composition and framing
industryfiveitemthree: Perspective and scale
industryfiveitemfour: Capturing light and shadow
industryfiveitemfive: Blending and shading
industryfiveitemsix: Narrative and emotion
industryfiveitemseven: And so much more
industrysixgraphic: industry-3d.png
industrysixgraphicalt: A Back n Forth app screenshot collage showing what what a 3D engagement and submission could look like.
industrysixitemone: Polygon usage
industrysixitemtwo: Materials and textures
industrysixitemthree: Lighting setup
industrysixitemfour: Shaders
industrysixitemfive: Camera options
industrysixitemsix: Render settings
industrysixitemseven: And so much more
industrysevengraphic: industry-other.png
industrysevengraphicalt: A Back n Forth app screenshot collage showing what what a fashion engagement and submission could look like.
industrysevenitemone: Fashion design
industrysevenitemtwo: Calligraphy
industrysevenitemthree: Beauty and makeup
industrysevenitemfour: Interior design
industrysevenitemfive: Carpentry
industrysevenitemsix: Pottery
industrysevenitemseven: And so much more
steptitle: How does it work?
steponegraphic: step-1.png
steponegraphicalt: A Back n Forth app screenshot collage showing what what a packaging design engagement and submission could look like.
steponetitle: Create an engagement
steponedescription: Let your audience know what kind of feedback you're able to provide and what they should submit. We'll help you create a dedicated page so your audience can effortlessly upload their work for your review.
steptwographic: step-2.png
steptwographicalt: A Back n Forth app screenshot collage showing what built-in sharing options users have, what a user's profile looks like when shared, and lastly what an engagement shared through twitter looks like.
steptwotitle: Share it with your audience
steptwodescription: Let your audience know about your engagement by sharing it on social media or directly with them. We provide quick share options so can maximize outreach.
stepthreegraphic: step-3.png
stepthreegraphicalt: A Back n Forth app screenshot collage showing what a "new submission" email looks like, and what a creator's response looks like.
stepthreetitle: Respond to submissions
stepthreedescription: Provide feedback by typing comments and drawing directly on the submission. You have 7 days to complete the submission so you can respond whenever is most convenient for you.

featurestitle: Key features
featuresonetitle: Flexibility
featuresoneitem1: Respond to audience submissions from anywhere, on any device
featuresoneitem2: Limit the submissions you'll accept at one time to earn on your terms
featuresoneitem3: Share your feedback by leaving a comment or drawing on the submission
featurestwotitle: Intimacy
featurestwoitem1: Offer one-on-one support that is more convenient and less intimidating
featurestwoitem2: Connect with your audience deeper and be apart of their individual growth
featurestwoitem3: Better understand who your supporters are and what they're looking for
featuresthreetitle: Support
featuresthreeitem1: Diversify your income and provide an experience worth paying for
featuresthreeitem2: Offer an affordable option of tailored education to your audience
featuresthreeitem3: We're here to support both you and your audience along the way
featuresbackground: grey-background.jpg
featuresbackgroundalt: Dark grey and black gradient background.

faqtitle: Frequently asked questions
faqonetitle:  Who should use Back n Forth and is it right choice for my audience?
faqonedescription: Back n Forth is an ideal tool for any creator who wants to earn additional income by providing educational feedback on their audience’s work.
faqtwotitle: Do I need an existing audience to start using Back n Forth?
faqtwodescription: While this is not required, we recommend it. But, this could change in the future as we find ways to help creators build their audience. 
faqthreetitle: Do I need to be a resident of North America to sign up?
faqthreedescription: Yes, we currently only support residents of North America. If you live somewhere else, follow us on social media to be notified when we support your region.
faqfourtitle: How much will it cost for me to start using Back n Forth?
faqfourdescription: There are no monthly costs to use Back n Forth. We charge a 20% fee on submission payments, which you can consider when pricing your engagements.
faqfivetitle: How do I accept payments and how often will I get paid?
faqfivedescription: We process all payments through Stripe, a globally trusted leader in payment security. You'll be paid weekly for all completed submissions.

---
<div class="content">
    <!-------Hero------->
    <div data-aos="fade-down">
        <div class="hero">
            <div class="wrapper-md centered">
                <div class="hero-content-container">
                    <h1 class="title-5xl white">
                        <span>
                            <span class="hero-text">{{ page.herotitleone }}</span>
                            {% include title-star.html %}
                        </span>
                        </br>
                        <span>
                            <span class="hero-text">{{ page.herotitletwo }}</span>
                            {% include title-underline.html %}
                        </span>
                    </h1>
                    <p class="hero-description body-xl light">{{ page.herodescription }}</p>
                    <a class="button-lg" href="{{ page.heroactionlink }}">
                        <span>{{ page.heroactiontext }}</span>
                    </a>
                </div>
            </div>
        </div>
        <!-------Introduction------->
        <div class="fitted-background intro">
            <img class="fitted-image" src="{{ site.baseurl }}/assets/main/{{ page.introbackground }}" alt="{{ page.introbackgroundalt }}" />
            <div class="wrapper-sm intro-graphic-container centered index">
                <div class="media-wrapper">
                    <div class="video-overlay flex align-center justify-center">
                        <div class="video-action flex align-center justify-center">
                        {% include play.html %}
                        {% include play-text.html %}
                        </div>
                    </div>
                    <video src="{{ site.baseurl }}/assets/main/{{ page.introvideo }}" width="880" height="501.6" playsinline loop autoplay muted>
                      <img src="{{ site.baseurl }}/assets/main/{{ page.introimg }}" alt="{{ page.introimgalt }}" />
                      <div class="overlay"></div>
                    </video>
                </div>
            </div>
            <div class="wrapper-sm grid gap-md index intro-content">
                <h2 class="title-3xl white">{{ page.introtitle }}</h2>
                <p class="body-lg light">{{ page.introdescription }}</p>
            </div>
        </div>
    </div>
    <!-------Industries------->
    <div class="industries" data-aos="fade-down">
        <div class="wrapper-sm index industry-container">
            <h2 class="flex title-3xl white">{{ page.industriestitle }}</h2>
            <div class="flex gap-xs flex-wrap justify-center industry-menu">
                <div class="button-sm toggle-button secondary industry-1 active" trigger="industry-1"><p>{{ page.industryone }}</p></div>
                <div class="button-sm toggle-button secondary industry-2" trigger="industry-2"><p>{{ page.industrytwo }}</p></div>
                <div class="button-sm toggle-button secondary industry-3" trigger="industry-3"><p>{{ page.industrythree }}</p></div>
                <div class="button-sm toggle-button secondary industry-4" trigger="industry-4"><p>{{ page.industryfour }}</p></div>
                <div class="button-sm toggle-button secondary industry-5" trigger="industry-5"><p>{{ page.industryfive }}</p></div>
                <div class="button-sm toggle-button secondary industry-6" trigger="industry-6"><p>{{ page.industrysix }}</p></div>
                <div class="button-sm toggle-button secondary industry-7" trigger="industry-7"><p>{{ page.industryseven }}</p></div>
            </div>
            <div class="grid industry-content">
                <div class="industry-list industry-1 active">
                    <h3 class="title-lg white industry-list-title">Give feedback on:</h3>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryoneitemone }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryoneitemtwo }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryoneitemthree }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryoneitemfour }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryoneitemfive }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryoneitemsix }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryoneitemseven }}</p></div>
                </div>
                <div class="industry-image industry-1 active">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.industryonegraphic }}" alt="{{ page.industryonegraphicalt }}" />
                </div>
                <div class="industry-list industry-2">
                    <h3 class="title-lg white industry-list-title">Give feedback on:</h3>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrytwoitemone }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrytwoitemtwo }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrytwoitemthree }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrytwoitemfour }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrytwoitemfive }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrytwoitemsix }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrytwoitemseven }}</p></div>
                </div>
                <div class="industry-image industry-2">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.industrytwographic }}" alt="{{ page.industrytwographicalt }}" />
                </div>
                <div class="industry-list industry-3">
                    <h3 class="title-lg white industry-list-title">Give feedback on:</h3>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrythreeitemone }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrythreeitemtwo }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrythreeitemthree }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrythreeitemfour }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrythreeitemfive }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrythreeitemsix }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrythreeitemseven }}</p></div>
                </div>
                <div class="industry-image industry-3">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.industrythreegraphic }}" alt="{{ page.industrythreegraphicalt }}" />
                </div>
                <div class="industry-list industry-4">
                    <h3 class="title-lg white industry-list-title">Give feedback on:</h3>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfouritemone }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfouritemtwo }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfouritemthree }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfouritemfour }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfouritemfive }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfouritemsix }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfouritemseven }}</p></div>
                </div>
                <div class="industry-image industry-4">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.industryfourgraphic }}" alt="{{ page.industryfourgraphicalt }}" />
                </div>
                <div class="industry-list industry-5">
                    <h3 class="title-lg white industry-list-title">Give feedback on:</h3>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfiveitemone }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfiveitemtwo }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfiveitemthree }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfiveitemfour }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfiveitemfive }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfiveitemsix }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industryfiveitemseven }}</p></div>
                </div>
                <div class="industry-image industry-5">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.industryfivegraphic }}" alt="{{ page.industryfivegraphicalt }}" />
                </div>
                <div class="industry-list industry-6">
                    <h3 class="title-lg white industry-list-title">Give feedback on:</h3>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysixitemone }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysixitemtwo }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysixitemthree }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysixitemfour }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysixitemfive }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysixitemsix }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysixitemseven }}</p></div>
                </div>
                <div class="industry-image industry-6">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.industrysixgraphic }}" alt="{{ page.industrysixgraphicalt }}" />
                </div>
                <div class="industry-list industry-7">
                    <h3 class="title-lg white industry-list-title">Give feedback on:</h3>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysevenitemone }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysevenitemtwo }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysevenitemthree }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysevenitemfour }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysevenitemfive }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysevenitemsix }}</p></div>
                    <div class="flex align-center industry-list-item">{% include check.html %}<p class="body-base light">{{ page.industrysevenitemseven }}</p></div>
                </div>
                <div class="industry-image industry-7">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.industrysevengraphic }}" alt="{{ page.industrysevengraphicalt }}" />
                </div>
            </div>
        </div>
    </div>

    <!-------How It Works------->
    <div class="fitted-background how-it-works" data-aos="fade-down">
        <img class="fitted-image" src="{{ site.baseurl }}/assets/main/{{ page.introbackground }}" alt="{{ page.introbackgroundalt }}" />
        <div class="wrapper-md index">
            <div class="flex justify-center">
                <h2 class="flex title-3xl white">{{ page.steptitle }}</h2>
            </div>
            <div class="step-divider"></div>
            <div class="grid gap-lg step-1 step-row">
                <div class="step-graphic">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.steponegraphic }}" alt="{{ page.steponegraphicalt }}" />
                </div>
                <div class="step-number">
                    {% include step1.html %}
                </div>
                <div class="step-content">
                    <h3 class="title-2xl white">{{ page.steponetitle }}</h3>
                    <p class="flex-grow body-lg light">{{ page.steponedescription }}</p>
                </div>
            </div>
            <div class="step-divider"></div>
            <div class="grid gap-lg step-2 step-row">
                <div class="step-graphic">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.steptwographic }}" alt="{{ page.steptwographicalt }}" />
                </div>
                <div class="step-number">
                    {% include step2.html %}
                </div>
                <div class="step-content">
                    <h3 class="title-2xl white">{{ page.steptwotitle }}</h3>
                    <p class="flex-grow body-lg light">{{ page.steptwodescription }}</p>
                </div>
            </div>
            <div class="step-divider"></div>
            <div class="grid gap-lg step-3 step-final step-row">
                <div class="step-graphic">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.stepthreegraphic }}" alt="{{ page.stepthreegraphicalt }}" />
                </div>
                <div class="step-number">
                    {% include step3.html %}
                </div>
                <div class="step-content">
                    <h3 class="title-2xl white">{{ page.stepthreetitle }}</h3>
                    <p class="flex-grow body-lg light">{{ page.stepthreedescription }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-------Features------->
    <div class="features" data-aos="fade-down">
        <div class="container-lg">
            <div class="wrapper-md index">
                <h2 class="flex title-3xl white">{{ page.featurestitle }}</h2>
                <div class="grid grid-third gap-lg">
                    <div class="feature-card">
                        <div class="feature-icon">{% include flexible.html %}</div>
                        <h3 class="title-2xl">{{ page.featuresonetitle }}</h3>
                        <div class="feature-list">
                            <p class="flex-grow body-base">{{ page.featuresoneitem1 }}</p>
                            <p class="flex-grow body-base">{{ page.featuresoneitem2 }}</p>
                            <p class="flex-grow body-base">{{ page.featuresoneitem3 }}</p>
                        </div>
                    </div>
                    <div class="feature-card">
                        <div class="feature-icon">{% include intimate.html %}</div>
                        <h3 class="title-2xl">{{ page.featurestwotitle }}</h3>
                        <div class="feature-list">
                            <p class="flex-grow body-base">{{ page.featurestwoitem1 }}</p>
                            <p class="flex-grow body-base">{{ page.featurestwoitem2 }}</p>
                            <p class="flex-grow body-base">{{ page.featurestwoitem3 }}</p>
                        </div>
                    </div>
                    <div class="feature-card">
                        <div class="feature-icon">{% include support.html %}</div>
                        <h3 class="title-2xl">{{ page.featuresthreetitle }}</h3>
                        <div class="feature-list">
                            <p class="flex-grow body-base">{{ page.featuresthreeitem1 }}</p>
                            <p class="flex-grow body-base">{{ page.featuresthreeitem2 }}</p>
                            <p class="flex-grow body-base">{{ page.featuresthreeitem3 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------Frequently Asked Questions------->
    <div class="fitted-background faq" data-aos="fade-down">
        <img class="fitted-image" src="{{ site.baseurl }}/assets/main/{{ page.introbackground }}" alt="{{ page.introbackgroundalt }}" />
        <div class="wrapper-sm index">
            <h2 class="flex title-3xl white">{{ page.faqtitle }}</h2>
            <div>
                <div class="grid faq-row">
                    <h3 class="title-xl white">{{ page.faqonetitle }}</h3>
                    <p class="body-base light">{{ page.faqonedescription }}</p>
                </div>
                <div class="grid faq-row">
                    <h3 class="title-xl white">{{ page.faqtwotitle }}</h3>
                    <p class="body-base light">{{ page.faqtwodescription }}</p>
                </div>
                <div class="grid faq-row">
                    <h3 class="title-xl white">{{ page.faqthreetitle }}</h3>
                    <p class="body-base light">{{ page.faqthreedescription }}</p>
                </div>
                <div class="grid faq-row">
                    <h3 class="title-xl white">{{ page.faqfourtitle }}</h3>
                    <p class="body-base light">{{ page.faqfourdescription }}</p>
                </div>
                <div class="grid faq-row">
                    <h3 class="title-xl white">{{ page.faqfivetitle }}</h3>
                    <p class="body-base light">{{ page.faqfivedescription }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lightbox flex flex-column align-center justify-center">
        <div class="overlay"></div>
        <div class="lightbox-container">
            <div class="lightbox-scroller video">
                <div class="lightbox-content video">
                    <div class="lightbox-close video flex justify-end">
                        {% include close.html %}
                    </div>
                    <div class="lightbox-step video">
                        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/863375235?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Meet Back n Forth"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
    </div>
</div>