<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.metatitle }}</title>
	<meta name="x-apple-disable-message-reformatting">
    <meta content="telephone=no" name="format-detection">
    <!--[if (mso 16)]>
	    <style type="text/css">
	    a {text-decoration: none;}
	    </style>
	    <![endif]-->
	    <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
	    <!--[if gte mso 9]>
		<xml>
		    <o:OfficeDocumentSettings>
		    <o:AllowPNG></o:AllowPNG>
		    <o:PixelsPerInch>96</o:PixelsPerInch>
		    </o:OfficeDocumentSettings>
		</xml>
	<![endif]-->
</head>