<div class="footer" data-aos="fade-down">
<div class="cta fitted-background" id="waitlist">
    <img class="fitted-image" src="{{ site.baseurl }}/assets/main/purple-background.jpg" alt="Bright purple gradient background." />
    <div class="wrapper-md grid gap-lg cta-row">
        <div class="cta-graphic flex align-center justify-center index">
            <img class="step-graphic-img desktop-cta" src="{{ site.baseurl }}/assets/main/desktop-cta.png" alt="A graphic showing a creator's avatar surrounded by social platform logos and audience avatars they are sharing engagements with." />
            <img class="step-graphic-img mobile-cta" src="{{ site.baseurl }}/assets/main/mobile-cta.png" alt="A graphic showing a creator's avatar surrounded by social platform logos and audience avatars they are sharing engagements with." />
        </div>
        <div class="cta-content index">
            <h2 class="title-3xl white">Ready to start earning?</h2>
            <p class="body-lg white">Create your account in just a few minutes and start giving your audience feedback</p>
            <a class="button-lg blue" href="/signup"><span>Get Started</span></a>
        </div>
    </div>
</div>
<footer class="wrapper-md flex flex-column align-center">
	<div class="footer-container">
		<div class="form-container" id="waitlist">
			<div id="mc_embed_signup flex">
				<h2 class="newsletter-title title-2xl white">Subscribe to keep up with promotions and updates</h2>
			    <form action="https://gobacknforth.us14.list-manage.com/subscribe/post?u=d2ba32adf64004b62b2ea02d3&amp;id=26fb527d9c&amp;f_id=001188e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form validate" target="_blank" novalidate>
			        <div id="mc_embed_signup_scroll">
						<div class="mc-field-group flex align-center justify-center">
							<input type="email" value="" name="EMAIL" class="required email" placeholder="Your email address" id="mce-EMAIL" required>
							<div class="newsletter-button-wrap">
								<input type="submit" value="→" name="subscribe" id="mc-embedded-subscribe" class="newsletter-button">
							</div>
							<div hidden="true"><input type="hidden" name="tags" value="7346577"></div>
							<div id="mce-responses" class="clear foot">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>
						</div>
					    <div style="position: absolute; left: -5000px;" aria-hidden="true">
					    	<input type="text" name="b_d2ba32adf64004b62b2ea02d3_26fb527d9c" tabindex="-1" value="">
					    </div>
			    	</div>
				</form>
			</div>
		</div>
	    <div class="footer-bottom flex flex-grow align-center justify-between">
	    	<div class="footer-content">
	    		<p class="body-base align-left"><a class="inverse" href="mailto:support@gobacknforth.com">Contact</a><span class="divider">|</span><a class="inverse" href="{{ site.baseurl }}/terms">Terms</a><span class="divider">|</span><a class="inverse" href="{{ site.baseurl }}/privacy">Privacy</a></p>
	    	</div>
			<div class="flex social-wrapper">
				<a class="iconlink flex align-center" href="https://twitter.com/backnforthapp" target="_blank">{% include twitter.html %}</a>
				<a class="iconlink flex align-center" href="https://www.instagram.com/backnforthapp/" target="_blank">{% include instagram.html %}</a>
	    		<!-- <a class="iconlink flex align-center" href="https://www.tiktok.com/@backnforthapp" target="_blank">{% include tiktok.html %}</a>
				<a class="iconlink flex align-center" href="https://www.facebook.com/backnforthapp/" target="_blank">{% include facebook.html %}</a>
	    		<a class="iconlink flex align-center" href="https://www.linkedin.com/company/backnforthapp/" target="_blank">{% include linkedin.html %}</a>
	    		<a class="iconlink flex align-center" href="https://www.youtube.com/@backnforthapp" target="_blank">{% include youtube.html %}</a> -->
			</div>
	    	<div class="footer-content">
				<p class="body-base align-right">Back n Forth &copy; <span id="year"></span></p>
	    	</div>
	    </div>
	</div>
</footer>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="{{ site.baseurl }}/js/base.js" type="text/javascript"></script>