.cta {
	border-radius: 0px;
	margin-bottom:0px;
	.cta-row {
		grid-template-columns: 1fr 1fr;
		align-items: center;
		padding: 0 $space-md;
		.cta-graphic {
			.desktop-cta {
				position:absolute;
				max-width: 460px;
				@include breakpoint-md {
				  display:none;
				}
			}
			.mobile-cta {
				display:none;
				width:480px;
				position: absolute;
				@include breakpoint-md {
				  display:block;
				}
			}
			@include breakpoint-md {
			  height:240px;
			  padding:0;
			}
		}
		.cta-content {
			padding: $space-3xl 0;
			h2, .body-lg {
				max-width: 500px;
			}
			.body-lg {
				margin: $space-sm 0;
			}
			@include breakpoint-md {
			  text-align: center;
			  max-width:600px;
			  margin: 0 auto;
			  padding: 0 $space-xs;
			}
		}
		.button-lg {
			margin-top:$space-2xs;
		}
		.action-tagline {
		  font-size: 15px;
		}
		@include breakpoint-md {
			grid-template-columns: 1fr;
			padding: $space-xl 0;
		}
	}
}