.faq {
  border-radius: 0px;
  padding: $space-2xl 0;
  @include breakpoint-md {
    padding: $space-xl 0;
  }
  h2 {
    padding-bottom: $space-xs;
    justify-content: center;
    @include breakpoint-md {
      justify-content: start;
    }
  }
  .faq-row {
    grid-template-columns: 1fr 1fr;
    grid-gap: $space-lg;
    padding-top: $space-sm;
    margin-top: $space-sm;
    border-top: 1px solid #3a3f47;
    &:first-child {
      border-top: none;
      margin-top: 0px;
    }
    p {
      margin-top: $space-2xs;
    }
    @include breakpoint-md {
      grid-template-columns: 1fr;
      grid-gap: $space-3xs;
      padding-top: $space-xs;
      margin-top: $space-xs;
      p {
        margin-top:0px;
      }
    }
  }
}