footer {
  .footer-container {
    width: 100%;
    padding: $space-lg 0 $space-lg 0;
    .form-container {
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: $space-lg;
      @include breakpoint-md {
        margin-top: $space-md;
        margin-bottom: $space-sm;
      }
    }
    .footer-bottom {
      .footer-content {
        width: 250px;
        p {
          color: $neutral-600;
        }
        .divider {
          margin: 0 $space-3xs;
          opacity: $opacity-20;
        }
      }
      .iconlink {
        height: 32px;
        svg {
          width: 32px;
          height: 32px;
          margin: $space-3xs;
        }
      }
      @include breakpoint-md {
        flex-direction: column;
        .social-wrapper {
          margin: $space-2xs 0;
        }
        .footer-content {
          width: 100%;
          .body-base {
            text-align: center;
          }
        }
      }
    }
    @include breakpoint-md {
      padding: $space-md 0 $space-md 0;
    }
  }
}